* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//-- Variables --
$font: verdana;
$primary-color: black;
$secondary-color: rgba(37, 37, 37, 0.88);
$thired-color: rgba(37, 37, 37, 0.55);

body {
    font-family: $font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 64px 63px 64px;
    gap: 64px;
}

.page-header {
    color: $primary-color;
    line-height: 118%;

    font: {
        size: 4.5rem;
        weight: 600;
    }
}

ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    p {
        color: $secondary-color;
        margin-top: 12px;
        line-height: normal;

        font: {
            size: 1.3rem;
            style: normal;
        }
    }

    li {
        max-width: 31%;
        list-style: none;

    }

    span {
        margin-top: 12px;

        font: {
            size: 2.2rem;
            weight: 700;
        }

        color: $thired-color;
    }
}

img {
    padding-top: 16px;
}