* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//-- Variables --
$font: Verdana, Geneva, Tahoma, sans-serif;
$primary-color: black;
$secondary-color: rgba(37, 37, 37, 0.88);
$thired-color: rgba(37, 37, 37, 0.55);

body {
    font-family: $font;
    margin: 64px;
}

.page-header {
    color: $primary-color;
    line-height: 1.3;
    padding-right: 500px;

    font: {
        size: 4.5rem;
        weight: 500;
    }
}

ul {
    display: flex;
    margin-top: 50px;

    p {
        color: $secondary-color;
        font-size: 1.3rem;
    }

    li {
        list-style: none;
        line-height: 1.5;
    }

    span {

        font: {
            size: 2.2rem;
            weight: 500;
        }

        color: $thired-color;
    }
}

img {
    padding-top: 16px;
}

@media screen and (max-width:992px) {

    .page-header {
        padding-right: 0;
    }

    ul {
        flex-wrap: wrap;

        li {
            flex-basis: 50%;
        }
    }
}