* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    display: inline-flex;
}

img {
    width: 716px;
    margin-top: 67px;
}

/* right corner  */

section {
    margin: 112px 80px;
}

aside {}

h1 {
    font-size: 3rem;
    color: #252525;
    width: 80%;
}

.text {
    font-size: 1.3rem;
    color: rgba(37, 37, 37, 0.88);
    width: 80%;
    line-height: 25px;
    padding: 20px 0;
}

button {
    padding: 16px 32px;
    border-radius: 16px;
    background: #252525;
    color: white;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #535151;
}

article {
    margin: 88px 0;
}

.number {
    color: rgba(37, 37, 37, 0.55);
    font-size: 32px;
    font-weight: 800;
}

.paragraph {
    color: rgba(37, 37, 37, 0.88);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 0;
    width: 80%;
}