* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// variables
$color-1: #363830;
$myfont: Poppins;

//mixin
@mixin borderRadius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}

body {
    background: linear-gradient(123deg, #C8CCCF 5.59%, #97A3A3 84.01%);
    position: relative;
}

.header-design {
    margin: 64px 390px;
    position: relative;

    .page-header {
        color: $color-1;

        font: {
            family: $myfont;
            size: 5.5rem;
        }

    }

    .page-desc {
        color: $color-1;
        padding-right: 80px;

        font: {
            family: $myfont;
            size: 1.5rem;
        }
    }

    a {
        padding: 20px 48px;
        @include borderRadius(40px);
        background: $color-1;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        line-height: 5;

        font: {
            family: Verdana;
            size: 1.2rem;
        }
    }
}

.right-img {
    position: absolute;
    top: -19%;
    right: -45%;
    z-index: -1;

}

//Bottom section (content of the page)

.content-box {
    position: relative;
}

.left-image {
    position: absolute;
    left: 8%;
    bottom: -25%;
    z-index: -1;
}

ul {
    border-radius: 120px;
    background: linear-gradient(96deg, rgba(255, 255, 255, 0.30) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);
    backdrop-filter: blur(12px);
    padding: 40px 88px;
    display: flex;
    justify-content: space-between;
    margin: 200px 64px 64px 480px;
    list-style: none;

    li {
        font-family: $myfont;
        padding-left: 40px;

    }
}

span {
    line-height: 2;

    font: {
        size: 1.2rem;
        weight: 600;
    }
}

hr {
    width: 30px;
    height: 4px;
    background: $color-1;
    border: none;
}

.content-desc {
    padding-top: 10px;
    font-size: 1rem;
}