* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.top-container {
    display: flex
}

.header-content {
    display: inline-block;
    padding: 137px 50px 0 64px;
    text-align: start;
    font-family: "Lato", sans-serif
}

h1 {
    color: #252525;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-weight: 700
}

.page-desc {
    color: rgba(37, 37, 37, .8);
    font-size: 1.6rem;
    line-height: 1.4;
    padding-right: 90px;
    margin-bottom: 40px
}

a {
    padding: 18px 36px;
    border-radius: 16px;
    background: #252525;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-style: normal
}

.header-image {
    display: flex
}

.left-image {
    padding-top: 50px
}

.right-image {
    padding: 217px 64px 50px 50px
}

img:hover {
    cursor: pointer;
    transform: translatey(-15px);
    transition-duration: .3s
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-bottom: 64px
}

ul {
    list-style-type: none
}

span {
    color: rgba(37, 37, 37, .25);
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    font-weight: 600
}

@media screen and (max-width: 992px) {
    .top-container {
        flex-wrap: wrap
    }

    .top-container .header-content {
        padding-top: 64px
    }

    .top-container .header-image {
        padding: 64px
    }

    .left-image {
        padding: 0
    }

    .right-image {
        padding: 0;
        margin-left: 20px
    }

    ul {
        flex-wrap: wrap
    }
}

@media screen and (max-width: 768px) {
    .left-image {
        width: 300px
    }

    .right-image {
        width: 300px
    }

    .bottom-img {
        width: 280px
    }
}

@media screen and (max-width: 620px) {
    h1 {
        font-size: 3rem
    }

    .page-desc {
        font-size: 1rem
    }

    a {
        padding: 12px 32px;
        font-size: 1rem
    }

    .left-image,
    .right-image {
        width: 210px
    }

    .bottom-img {
        width: 250px
    }
}