* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//-- variables --
$color-1: #2F2F2F;
$color-2: #fff;
$myfont: Poppins;
$myfontweight: 700;

body {
    background: $color-1;
}

.container {
    display: flex;
}

.content-wrapper {
    margin: 120px 100px;
}

.heading {
    font-size: 4.2rem;
    font-family: $myfont;
}

h1:nth-child(1) {
    color: #FEC3C7;
}

h1:nth-child(2) {
    color: #9ad7f3;
}

h1:nth-child(3) {
    color: #6bdfda;
}

.heading-desc {
    color: $color-2;
    font-size: 1.5rem;
    padding-top: 10px;

    font: {
        family: $myfont;
        style: normal;
    }
}

.btn {
    line-height: 5;
}

a {
    padding: 24px 60px;
    border-radius: 40px;
    background: $color-2;
    color: $color-1;
    cursor: pointer;
    text-decoration: none;

    font: {
        family: $myfont;
        size: 1.5rem;
        weight: 600;
    }
}

ul {
    padding: 67px;
    display: flex;
    flex-wrap: wrap;

    li {
        flex-basis: 25%;
        list-style: none;
    }
}

@media screen and (max-width:992px) {
    .container {
        flex-wrap: wrap;
    }

    .content-wrapper {
        margin: 120px 100px 0 100px;
    }

    ul {
        margin-left: 67px;
        gap: 10px;
    }

}

@media screen and (max-width: 768px) {
    .content-wrapper {
        margin: 10px 60px;
    }

    ul {
        margin-left: 30px;
    }
}