* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin: 64px;
}

h1 {
    font-size: 4rem;
    width: 50%;
    font-weight: 600;
    padding-bottom: 50px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.cards {
    /* width: 33%; */
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number {
    color: rgba(37, 37, 37, 0.55);
    font-size: 32px;
    font-weight: 800;
}

.content-text {
    color: rgba(37, 37, 37, 0.80);
    font-size: 1.1rem;
    font-weight: 400;
}

/* img {
    width: 400px;
    height: 345px;
} */

@media screen and (max-width : 992px) {

    h1 {
        font-size: 2.8rem;
    }

    main {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 100px;
    }
}