* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 1272px;
    padding: 100px;
}

.section-1 {
    display: flex;
    gap: 30px;
}

.content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 100px;

}

.content-header {
    width: 100%;
    font-size: 3rem;
    color: #252525;
    font-weight: 800;
    /* line-height: 80px; */
}

.content-text {
    /* width: 396px; */
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(37, 37, 37, 0.80);
}

button {
    padding: 16px 32px;
    border-radius: 16px;
    background: #252525;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #535151;
}

.image {
    width: 408px;
    height: 480px;
    border-radius: 16px;

}

.image:hover {
    cursor: pointer;
    transform: translatey(-15px);
    transition-duration: 0.3s;
}

.right {
    margin-top: 200px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.box:hover {
    cursor: pointer;
    transform: translatey(-15px);
    transition-duration: 0.3s;
}

#number {
    color: rgba(37, 37, 37, 0.25);
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
}

.image-card {
    /* width: 1316px;
    height: 440px; */
    display: inline-flex;
    /* justify-content: center; */
    align-items: flex-end;
    gap: 40px;

}

@media screen and (max-width: 992px) {

    .content {
        width: 100%;
        margin-top: 0%;
    }

    .content-text {
        width: 50%;
    }

    .section-1 {
        flex-wrap: wrap;
    }

    .image-card {
        flex-wrap: wrap;
    }

}