* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//  --- Variables --- 
$primary-color: #252525;
$secondary-color: #FFF;
$thired-color: rgba(37, 37, 37, 0.80);
$fourth-color: rgba(255, 255, 255, 0.80);

//-- Mixin --
@mixin borderRadius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    -o-border-radius: $val;
    -ms-border-radius: $val;
    border-radius: $val;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

/* Top section of the page */
.left-container {
    margin: 64px 20px 64px 64px;
}

h1 {
    color: $primary-color;
    line-height: 1.4;
    letter-spacing: 3px;

    font: {
        size: 4.6rem;
        weight: 800;
    }
}

.header-desc {
    color: $thired-color;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-right: 100px;
    margin-top: 24px;
}

a {
    padding: 20px 52px;
    @include borderRadius(36px);
    background: $primary-color;
    color: #fff;
    text-decoration: none;
    line-height: 5;
    font-size: 1.5rem;
}

// left bottom section 
.left-bottom-content {
    display: flex;
    justify-content: space-between;

    .spiral {
        margin-top: 120px;
        margin-left: 142px;
    }

}

// right section 
.right-container {
    margin: 64px 64px 64px 0;
    position: relative;

}

.waves {
    line-height: 3.5;
    position: absolute;
    right: 80%;
    top: 1%;

    .dawn-left {
        margin-top: 200px;
        margin-left: 100px;
    }
}

.img-container {
    display: flex;
}

.left-img-1 {
    padding-top: 250px;
    padding-right: 20px;
}

.dawn-right {
    position: absolute;
    top: 50%;
    right: 0;
}

.profile-box {
    margin-top: 190px;
    padding: 11px;
    display: flex;
    gap: 15px;

    .profile-desc {
        font-size: 1.3rem;
        color: $thired-color;
    }
}